<%- include('./partials/header') %>
  <main class="container center">

    <% if(items){ %>
      <table>
        <thead>
          <tr>
            <th>Items</th>
            <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <% for(let i=0;i < items.length;i++){%>
            <tr>
              <td>
                <%= items[i] %> 
                
                <form action="/cart/<%=cartId%>/remove?_method=DELETE" method="POST">
                <button type="submit">-</button> 
              </form>
              <form action="/cart/<%=cartId%>/add" method="POST">
                <button type="submit">+</button> 
              </form>

              
                  
              </td>
              <td>$<%= prices[i] %>
              </td>
              <% } %>
            </tr>

            <td>Total</td>
            <td>$<%=total%>
            </td>
        </tbody>
      </table>
      <br>
      <% } else { %>

                <h1 class="empty-cart">NO ITEMS IN CART</h1><br>
             
         
     
        <% } %>


      <% if(items){ %>
        <div class="row">

          <div class="col s4">
            <a href="/order"><button type="submit" class="btn waves-effect black">
              ADD ITEMS
            <i class="material-icons right">add_shopping_cart</i>
            </button></a>
          </div>
          <div class="col s4">
            <form action="/cart/<%=cartId%>/checkout?_method=DELETE" method="POST">
              <button type="submit" class="btn waves-effect waves-light black">
                Checkout
                <i class="material-icons right">credit_card</i>
              </button>
            </form>
          </div>
          <div class="col s4">
            <form action="/cart/<%=cartId%>?_method=DELETE" method="POST">
              <button type="submit" class="btn waves-effect waves-light black">
                Clear Cart
                <i class="material-icons right">delete</i>
              </button>
            </form>
          </div>
    
        </div>
     

        <% } %>


  </main>
  <%- include('./partials/footer') %>