<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <style type="text/css">
     table, td, th {  
     border: 1px solid #ddd;
     text-align: left;
   }
   
   table {
     border-collapse: collapse;
     width: 50%;
    
   }
   .table-data{
       position: relative;
     left:50px;
     top:50px;
   }
   th, td {
     padding: 15px;
   }
 </style>
</head>
<body>
<!--====form section start====-->
    <div class="table-data">
    <table border="1" >
        <tr>
            <th>S.N</th>
            <th>Title</th>
            <th>Description</th>
            <th>Youtube URL</th>
            <th>Edit</th>
            <th>Delete</th>
            <!-- <th>Delete</th> -->
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.title %></td>
            <td><%=data.description %></td>
            <td><iframe width="560" height="315" src="https://www.youtube.com/embed/<%=data.youtube_URL %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%=data.youtube_URL %></td>
           <!--  <td><%=data.description %></td> -->
            <td><a href="/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/delete/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>


</body>


</html>

