<%- include('./partials/header') %>
  <main>




<h2>Recent Reviews</h2>


    <%reviews.forEach(function(review) {%>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="<%=review.avatar%>" alt="" class="circle">
          <span class="title"><%=review.content%></span>
          <p><%=review.rating%>/5 <br>
            Posted by <%=review.name %>
          </p>
          <a href="" class="secondary-content"><% if(user) { %>
            <%if(userName===review.name){ %>
              <form style="width: 100px" action="/reviews/<%=review._id%>?_method=DELETE" method="POST">
                <button class="btn #616161 grey darken-2" type="submit"> <i class="material-icons">delete_forever</i></button>
              </form>
              <% } %>
                <% }%></a>      
        </li>
      </ul>

      <%});%>
        <% if(user) { %>
          <h2>Add Review</h2>
          <form style="width:300px" method="POST" action="/reviews/post">
            <label>Review:</label>
            <textarea name="content"></textarea>
            <label>Rating:</label>
            <select name="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <button class="btn waves-effect waves-light black" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>

            <!-- <input type="submit" value="Add Review"> -->
          </form><br>

          <% } %>



  </main>

  <%- include('./partials/footer') %>