<%- include('./partials/header') %>
  <main>




<h2 id="diffFont" class="center">Recent Reviews</h2>

<div class="container">

  <div class="col s12" class="form" style="margin-left:100px; margin-right:100px">
    <%reviews.forEach(function(review) {%>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="<%=review.avatar%>" alt="" class="circle">
          <span class="title"><%=review.content%></span>
          <p><%=review.rating%>/5 <br>
            Posted by <%=review.name %>
          </p>
          <% if(user) { %>
            <%if(userId.equals(review.user)){ %>
              
              <form name="myform" style="width: 100px" action="/reviews/<%=review._id%>?_method=DELETE" method="POST">
                <a href="javascript: submitform()" style="color:red" class="secondary-content">delete review</a>
                <!-- <button class="btn #616161 grey darken-2" type="submit"><i class="material-icons">delete_forever</i></button> -->
              </form>
              <% } %>
                <% }%></a>      
        </li>
      </ul>
   
      <%});%>
    </div>

</div>

        <% if(user) { %>
          <div class="container">
                
            <h2 id="diffFont" class="center">Add Review</h2>
            <form style="margin-left:100px; margin-right:100px" method="POST" action="/reviews/post">
              <label>Tell us about your experience</label>
              <textarea name="content"></textarea>
              <label></label>
              <input type="number"  name="rating" min="1" max="5" placeholder="Rate 1-5">

            
              <div class="center">
                <button  class="btn waves-effect waves-light black" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>

              </div>
            
              <!-- <input type="submit" value="Add Review"> -->
            </form><br>


        <% } %>



          </div>
    






          
  </main>

  <%- include('./partials/footer') %>